[submodule "vim/bundle"]
	path = vim/bundle
	url = git://github.com/HokieGeek/MahVimPlugins
[submodule "shell-plugins/zsh-autosuggestions"]
	path = shell-plugins/zsh/zsh-autosuggestions
    url = https://github.com/tarruda/zsh-autosuggestions
[submodule "vim/colors/Sierra"]
	path = vim/colors/Sierra
	url = git@github.com:AlessandroYorba/Sierra.git
[submodule "look"]
	path = look
	url = git@github.com:HokieGeek/look.git
