[submodule "shell-plugins/zsh-autosuggestions"]
	path = shell-plugins/zsh/zsh-autosuggestions
    url = https://github.com/tarruda/zsh-autosuggestions
[submodule "vim/colors/Sierra"]
	path = vim/colors/Sierra
	url = git@github.com:AlessandroYorba/Sierra.git
[submodule "look"]
	path = look
	url = git@github.com:HokieGeek/look.git
[submodule "vim/colors/badwolf"]
	path = vim/colors/badwolf
	url = https://github.com/sjl/badwolf
[submodule "vim/colors/ir_black"]
	path = vim/colors/ir_black
	url = https://github.com/twerth/ir_black
[submodule "vim/colors/gentooish.vim"]
	path = vim/colors/gentooish
	url = https://github.com/cdaddr/gentooish.vim
[submodule "vim/colors/herald.vim"]
	path = vim/colors/herald
	url = https://github.com/vim-scripts/herald.vim
[submodule "vim/colors/mustang-vim"]
	path = vim/colors/mustang
	url = https://github.com/croaker/mustang-vim
[submodule "vim/colors/peaksea"]
	path = vim/colors/peaksea
	url = https://github.com/vim-scripts/peaksea
[submodule "vim/colors/Zenburn"]
	path = vim/colors/Zenburn
	url = https://github.com/jnurmine/Zenburn
[submodule "vim/bundle/CamelCaseMotion"]
	path = vim/bundle/CamelCaseMotion
	url = git@github.com:bkad/CamelCaseMotion
[submodule "vim/bundle/argh"]
	path = vim/bundle/argh
	url = git@github.com:HokieGeek/argh.git
[submodule "vim/bundle/argtextobj.vim"]
	path = vim/bundle/argtextobj.vim
	url = git@github.com:vim-scripts/argtextobj.vim
[submodule "vim/bundle/comentarista"]
	path = vim/bundle/comentarista
	url = git@github.com:HokieGeek/comentarista.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim
[submodule "vim/bundle/que"]
	path = vim/bundle/que
	url = git@github.com:HokieGeek/que.git
[submodule "vim/bundle/sessioner"]
	path = vim/bundle/sessioner
	url = git@github.com:HokieGeek/sessioner.git
[submodule "vim/bundle/shai-hulud"]
	path = vim/bundle/shai-hulud
	url = git@github.com:HokieGeek/shai-hulud.git
[submodule "vim/bundle/splitter"]
	path = vim/bundle/splitter
	url = git@github.com:HokieGeek/splitter.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "vim/bundle/undotree"]
	path = vim/bundle/undotree
	url = git@github.com:mbbill/undotree.git
[submodule "vim/bundle/uvix"]
	path = vim/bundle/uvix
	url = git@github.com:HokieGeek/uvix.git
[submodule "vim/bundle/vim-easy-align"]
	path = vim/bundle/vim-easy-align
	url = git@github.com:junegunn/vim-easy-align
[submodule "vim/bundle/vim-exchange"]
	path = vim/bundle/vim-exchange
	url = git@github.com:tommcdo/vim-exchange
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "vim/bundle/vim-indent-object"]
	path = vim/bundle/vim-indent-object
	url = git@github.com:michaeljsmith/vim-indent-object
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git@github.com:tpope/vim-markdown
[submodule "vim/bundle/vim-multiple-cursors"]
	path = vim/bundle/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/bundle/vit"]
	path = vim/bundle/vit
	url = git@github.com:HokieGeek/vit.git
[submodule "vim/colors/vim-hickop-colors"]
	path = vim/colors/vim-hickop-colors
	url = git@github.com:hickop/vim-hickop-colors.git
[submodule "vim/bundle/SearchComplete"]
	path = vim/bundle/SearchComplete
	url = git@github.com:vim-scripts/SearchComplete.git
[submodule "vim/bundle/matchit.zip"]
	path = vim/bundle/matchit.zip
	url = git@github.com:vim-scripts/matchit.zip.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = git@github.com:vim-scripts/matchit.zip.git
[submodule "vim/bundle/taglist.vim"]
	path = vim/bundle/taglist.vim
	url = git@github.com:vim-scripts/taglist.vim.git
