snippet userstory
h6.+User Story+

*As a${1:n}* ${2:<STAKEHOLDER>}, *I need* ${3:<SOME GOAL>} *so that* ${4:<SOME REASON>}.
${5:

h6.+Suggested Implementation Notes+
* ${6:TODO}

}
h6.+Acceptance Criteria+
* $7
$0
endsnippet
